---
import Layout from '@layouts/Layout.astro';
import InnerHero from '@components/sections/InnerHero.astro';
import ChatWidget from '@components/ChatWidget.astro';

const seoTitle = "Administrador virtual | JMF Ortiz";
const seoDescription = "Administrador virtual de la administración de fincas en Torrejón de Ardoz con más de 40 años de experiencia. Presupuesto gratuito y sin compromiso.";

const heroContent = {
    title: "Administrador Virtual",
    description: "Resuelve tus dudas sobre administración de fincas con nuestro asistente virtual disponible las 24 horas.",
}
---

<Layout
  title={seoTitle}
  description={seoDescription}
  footerCta={{
    title: "",
    description: "",
    hideCta: true,
    button: { text: "", link: "" }
  }}
>
  <div class="flex flex-col">
    <InnerHero content={heroContent} />
    <ChatWidget height="650px" />
  </div>
</Layout>