---
import { Image } from 'astro:assets';

interface HeroContent {
    title: string;
    description: string;
    backgroundImage?: any;
    overlayOpacity?: number; // Value between 0 and 1
}

interface Props {
    content: HeroContent;
}

const { content } = Astro.props;

const opacity = content.overlayOpacity ?? 1;
---

<section class="w-full border-b border-stone-200 pt-28 pb-16 min-h-[12rem] relative bg-background-light">
    {content.backgroundImage && (
        <div class="absolute inset-0 left-0 top-0 w-full h-full overflow-hidden">
            <Image
                src={content.backgroundImage}
                alt=""
                width={1920}
                height={1080}
                class="w-full h-full object-cover brightness-90"
                quality={70}
                format="webp"
            />
            <div
                class="absolute inset-0 left-0 top-0 w-full h-full overflow-hidden bg-background-dark/50"
            ></div>
        </div>
    )}

    <div class="site-container mx-auto px-4 relative z-10 flex items-end h-full">
        <div class="pb-4">
            <h1 class="text-headline text-3xl md:text-4xl font-bold font-headline">{content.title}</h1>
            {content.description && <p class="subtitle text-body-base mt-2 max-w-2xl">{content.description}</p>}
        </div>
    </div>
</section>
